*{
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 0;
    border: 0;
}
header{
    margin-top: 50px;
    margin-bottom: 20px;
}

main{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;  
}

body{
    background: url(./img/fundo-tijolos.png) no-repeat ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1{
    color: white;
    margin-top: 50px;
}

#lamp{
    width: 350px;
    margin-top: -30px;
}

#switch{
    margin-top: -2rem;
    position: relative;
    z-index: 1;
}

#switch button{
    width: 32px;
    height: 32px;
    border: 0;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
   
}
 #switch span{
    display: block;
    width: 75px;
    height: 24px;
    background: rgb(109, 106, 106);
    border-radius: 9999px;
    z-index: 0;
 }
.switchButton{
    background: white url(./img/moon.svg)no-repeat center; 
}
.ativo{
    right: 0;
    background:white url(./img/sun.svg) no-repeat center;
    
 }
#restore{
   margin-top: 2rem;
   width: 75px;
   height: 35px;
   border-radius: 10px;
   font-weight: bold;
}

.one{
    display: none;
}
footer{
    margin-top: -20px;
    font-size: 8px;
   
}

.restore{
    box-sizing: border-box;
    width: 92px;
}

@media(max-width: 700px){
    body{
    background: url(./img/fundo-tijolos-mobile.png)no-repeat top center/cover;
    
    }
}

@media(max-width: 700px){
    header{
    margin-top: 2rem;

    }
}